.flex {
  display: flex;
}
.flex-1 {
  flex: 1;
}
.is-block {
  display: block !important;
}
.is-hidden {
  display: none;
}
.page-heading {
  font-size: 6rem;
  line-height: 8rem;
  color: map-get($colors, black);
  font-family: 'Playfair Display';
  font-weight: 900;
  @include respond-below(medium) {
    font-size: 4rem;
    line-height: 4rem;
  }
}
.rotate-icon {
  transform: rotate(180deg);
}
.visibility-hidden {
  visibility: hidden;
}
.w-80 {
  width: 80%;
}
