* {
  box-sizing: border-box;
  outline: 0;
  box-shadow: 0;
}
html {
  font-size: 10px;
}
body {
  color: map-get($colors, main);
  font-family: $font-body;
  font-weight: map-get($font-weight, regular);
  font-size: $font-size-base;
  line-height: 1.2;
  background-color: map-get($colors, background);
  // overflow-x: hidden;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}
img {
  max-width: 100%;
}
input,
textarea {
  &::placeholder {
    font-style: italic;
  }
}
.container {
  max-width: calc(100% - 10rem);
}
@include respond-below(s-1440) {
  .container {
    max-width: 100%;
  }
}
@include respond-above(medium) {
  input,
  textarea {
    font-size: 1.6rem;
  }
}
.app {
  min-height: 100vh;
}