.custom-dropdown {
	&__list {
		padding-right: 1.8rem;
		.select {
			margin-right: 1rem;
		}
	}
	.dropdown-toggle {
		background-color: transparent !important;
		border-color: transparent !important;
		margin-top: .9rem !important;
		&::after {
			font-size: 2rem;
		}
	}
	.logo {
		height: 3.3rem;
		width: 3.3rem;
	}
	.dropdown-menu {
		border-radius: .8rem;
		li {
			border-bottom: 1px solid map-get($colors, border);
			margin: 0 0.8rem;
			&:last-child {
				border-bottom: none;
			}
		}
		.dropdown-item {
			padding-left: 0;
			&:hover, &:active, &:focus {
				background-color: transparent;
			}
		}
	}
	.language-name {
		font-size: 1rem;
		margin-left: 0.6rem;
		font-weight: 700;
		color: map-get($colors, black);
	}
}
