.btn-gotop {
  width: 6.7rem;
  height: 6.7rem;
  top: 15rem;
  right: 9rem;
  border-radius: 100%;
  background-color: map-get($colors, white);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  position: fixed;
  float: right;
  cursor: pointer;
  z-index: 90;
  &:hover {
    background-color: map-get($colors, white);
  }
  .icon-top {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: map-get($colors, white);
  }
  .icon-arrow-down {
    &::before {
      font-size: 1.6rem;
    }
  }
}

@include respond-below(medium) {
  .btn-gotop {
    bottom: 7rem;
    right: 1.5rem;
    background-color: map-get($colors, white);
  }
}
