.page-header {
  width: 100%;
  .bg-header {
    height: auto;
    background-image: url("assets/images/header-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-bottom: 5rem;
  }
  .logo {
    img {
      width: 10.8rem;
    }
  }
  .menu-name {
    font-size: 1.4rem;
    font-weight: 700;
    color: map-get($colors, white);
    margin-right: 6rem;
  }
  .wrapper {
    padding-top: 1rem;
  }
  .countdown-timer {
    margin-top: 6rem;
    .page-heading {
      color: map-get($colors, white);
      font-size: 8rem;
    }
    &__content {
      width: 60rem;
      justify-content: space-between;
      background-color: map-get($colors, white);
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
      border-radius: 2rem;
      margin: 0 auto;
      margin-top: 2rem;
      padding: 1rem 4rem;
    }
    &__text {
      font-size: 5rem;
      line-height: 6.4rem;
      color: map-get($colors, black);
      font-family: 'Playfair Display';
      font-style: normal;
      font-weight: 900;
      p {
        font-size: 1.5rem;
        line-height: 1.9rem;
        font-family: 'Montserrat';
        font-weight: 700;
      }
    }
    &__explain {
      width: 45rem;
      color: map-get($colors, white);
      font-size: 1.8rem;
      font-weight: 400;
      margin: 6rem auto 3rem auto;
    }
    .custom-input {
      margin-bottom: 2rem;
    }
  }
  .header-image {
    width: 50rem;
    margin-top: -50rem;
  }
  .navbar {
    padding-right: 0;
    .navbar-dark {
      .navbar-toggler {
        color: map-get($colors, white);
        border-color: transparent;
      }
    }
  }
  @include respond-below(medium) {
    .navbar-dark {
      .navbar-toggler {
        color: map-get($colors, white);
        border-color: transparent;
      }
    }
    .custom-input {
      .icon-arrow {
        width: 100%;
      }
    }
    .countdown-timer {
      .page-heading {
        font-size: 4rem;
      }
      &__content {
        width: 33rem;
        padding: 1.5rem 2rem;
      }
      &__text {
        font-size: 3rem;
        line-height: 4rem;
        p {
          margin-bottom: 0;
          font-size: 1.2rem;
        }
      }
      &__explain {
        width: 33rem;
        margin-top: 3rem;
      }
    }
    .wrapper {
      .logo {
        img {
          width: 5rem;
        }
      }
    }
    .header-image {
      width: 20rem;
      margin: 0 auto;
      margin-top: -8rem;
      margin-right: 4.2rem;
    }
  }
}
