.about-us {
  width: 60%;
  margin: 0 auto;
  font-size: 1.4rem;
  color: map-get($colors, gray-300);
  .about-us-des {
    display: flex;
    &__left, &__right {
      width: 48%;
    }
    &__left {
      margin-right: 3rem;
      .amount {
        margin-top: 4rem;
        p {
          margin-bottom: 0;
        }
        .number {
          color: map-get($colors, blue);
          font-size: 7rem;
          font-weight: 700;
          line-height: 7rem;
        }
        .name {
          color: map-get($colors, black);
          font-size: 2rem;
          font-weight: 700;
          line-height: 3rem;
        }
      }
    }
    &__right {
      background-color: map-get($colors, gray-400);
      &__bg {
        width: 80%;
        margin: 0 auto;
        padding: 6rem 0;
      }
      .detail {
        margin-top: 3rem;
        img {
          width: 5rem;
          height: 5rem;
        }
      }
      .des {
        margin-left: 2.4rem;
        h4 {
          color: map-get($colors, black);
          font-size: 2.4rem;
          font-weight: 700;
          line-height: 3rem;
          margin-bottom: .8rem;
        }
        p {
          color: map-get($colors, gray-300);
        }
      }
    }
  }
  .about-us-image {
    margin: 0 auto;
    margin-top: 3rem;
    width: 40rem;
    img {
      position: relative;
      animation: mymove 5s infinite;
      animation-timing-function: linear;
    }
  }
  .about-us-bg {
    height: 40rem;
    background-image: url("assets/images/about-us-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: -8rem;
  }
  @include respond-below(medium) {
    padding: 3rem 1.5rem;
    margin: 0;
    width: 100%;
    .about-us-des {
      display: block;
      &__left, &__right {
        width: 100%;
      }
      &__right {
        padding: 4rem 0;
        &__bg {
          width: 95%;
          padding: 3rem 0;
        }
      }
      &__left {
        .text {
          margin-bottom: 2rem;
        }
        .amount {
          margin-top: 2rem;
          padding: 0 5.5rem 4rem 0;
          .number {
            font-size: 4.4rem;
            line-height: 5.3rem;
          }
          .name {
            font-size: 2.4rem;
          }
        }
      }
      .about-us-amount {
        display: flex;
      }
    }
    .about-us-image {
      margin: 0 auto;
      margin-top: 3rem;
      width: 20rem;
    }
    .about-us-bg {
      height: 20rem;
    }
  }
}
@keyframes mymove {
  from {left: 17rem;}
  to {left: -17rem;}
}
